<div class="container">
  <div *ngIf="!isEditing" class="users-list-wrapper">
    <h2>Users List</h2>
    <ul class="users-list">
      <li *ngFor="let user of users; let i = index">
        <span>User {{ i + 1 }}: username: {{ user.first_name }} {{ user.surname }}  user's email: {{ user.email }}</span>
        <button (click)="selectUser(user)">Edit</button>
      </li>
    </ul>
  </div>

  <div *ngIf="isEditing && selectedUser" class="edit-form">
    <h2>Edit User</h2>
    <form (ngSubmit)="saveChanges()">
      <label>
        First Name:
        <input [(ngModel)]="selectedUser.first_name" name="first_name" required>
      </label>
      <label>
        Surname:
        <input [(ngModel)]="selectedUser.surname" name="surname" required>
      </label>
      <label>
        Email:
        <input [(ngModel)]="selectedUser.email" name="email" required>
      </label>
      <label>
        Gender:
        <input [(ngModel)]="selectedUser.gender" name="gender" required>
      </label>
      <button type="submit">Save</button>
      <button type="button" class="cancel-btn" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
