body{
  background-color: #65676b;
  height:200px
}
p{
  color:white;
}
.language-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  border-radius: 10px;
  max-width: 600px;


  margin: 20px auto;


}

.language-selection p {
  margin: 0;
  font-size: 14px;
  color: white;
  flex-grow: 1;
}

.language-selection button.language-add-btn {
  padding: 5px 10px;
  font-size: 16px;
  color: #1877f2;

  border: 1px solid #dddfe2;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}


.footer-links {
  padding: 10px;
  text-align: center;

  color: #65676b;
  font-size: 12px;
  line-height: 1.5;
  max-width: 800px;
  margin: 10px auto;
  margin-top: 5px;
  border-radius: 10px;

}

.footer-links p {
  margin: 10px 0;
}

.footer-links p a {
  color: #65676b;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
}

.footer-links p a:hover {
  color: #1877f2;
}
