<body>
  <div class="language-selection">
    <p>
      English (UK) | العربية | Français (France) | Italiano | Deutsch | Русский |
      Español | Bahasa Indonesia | Türkçe | Português (Brasil) | हिन्दी
    </p>
    <button class="language-add-btn">+</button>
  </div>

  <div class="footer-links">
    <p>
      Sign Up | Log in | Messenger | Facebook Lite | Video | Places | Games | Marketplace |
      Meta Pay | Meta Store | Meta Quest | Meta AI | Instagram | Threads | Fundraisers | Services |
      Voting Information Centre | Privacy Policy | Privacy Centre | Groups | About | Create ad |
      Create Page | Developers | Careers | Cookies | AdChoices | Terms | Help | Contact uploading
      and non-users | Settings | Activity log
    </p>
    <p>Meta © 2024</p>
  </div>

</body>
