.modal-content {
  border-radius: 10px;
  border: 2px solid black;
}


.modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: none;
}

.modal-title {
  font-weight: 600;
}

.btn-close {
  background: transparent;
  border: none;
  color: white;
}


.modal-body {
  padding: 20px;
}

.modal-body .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  padding: 10px;
}

.modal-body .form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.d-flex {
  display: flex;
  align-items: center;
}

.d-flex .form-control {
  flex: 1;
}


.modal-footer {
  border-top: none;
  padding: 20px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}


.form-check-input {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid black;
}

.form-check-label {
  margin-right: 20px;
}
